@model PassionProject.Models.ViewModels.ShowPlayer

@{
    ViewBag.Title = "Details";
}

<h4 class="margin-top">Details About A Player</h4>

<div>
    <div>@Html.ActionLink("Delete", "DeleteConfirm", new { id = Model.player.PlayerID })</div>
    <hr />

    <div class="row">
        <div class="col-md-12 margin">
            <div class="flex no-margin">
                @Html.DisplayNameFor(model => model.player.PlayerName)
                <div class="col-md-1">
                    @Html.DisplayFor(model => model.player.PlayerName)
                </div>
            </div>

            <div class="flex no-margin">
                @Html.DisplayNameFor(model => model.player.PlayerRank)
                <div class="col-md-1">
                    @Html.DisplayFor(model => model.player.PlayerRank)
                </div>
            </div>

            <div class="flex no-margin">
                @Html.DisplayNameFor(model => model.player.PlayerID)
                <div class="col-md-1">
                    @Html.DisplayFor(model => model.player.PlayerID)
                </div>
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.player.PlayerID }) |
    @Html.ActionLink("Back to List", "List")
</p>
