@model PassionProject.Models.ViewModels.ShowPlayer

@{
    ViewBag.Title = "Details";
}

<h4>Player</h4>

<div>
    <div>@Html.ActionLink("Delete", "DeleteConfirm", new { id = Model.player.PlayerID })</div>
    <hr />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.player.PlayerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.player.PlayerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.player.PlayerRank)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.player.PlayerRank)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.player.PlayerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.player.PlayerID)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.player.PlayerID }) |
    @Html.ActionLink("Back to List", "List")
</p>
